{% extends 'home/basic.html' %}
{% block title %}Advanced Filters{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/filter.css' %}">
{% endblock css %}

{% block body %}
{% load static %}
<nav class="navbar navbar-expand-lg bg-body-dark">
  <div class="container-fluid">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#mood">Mood</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#genre">Genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#releaseddate">Released Date</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#playtime">Playtime</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Sort By</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Title</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Imdb score</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Released date</a></li>
      </ul>
    </li>
  </ul>



  <form class="d-flex" role="search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>

  </div>
</nav>
<form action="/home/filter" method="post">
<div class="container-fluid">
<form class="main-container d-flex">
<div class="sidebar" id="side_nav">
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="mood">Mood</h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="happy" name = "happy">
      <label class="form-check-label" for="happy">
        Happy
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="sad" name="sad">
      <label class="form-check-label" for="sad">
        Sad
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="bored" name="bored">
      <label class="form-check-label" for="bored" >
        Bored
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="angry" name ="angry">
      <label class="form-check-label" for="angry">
        Angry
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="excited" name="excited">
      <label class="form-check-label" for="excited">
        Excited
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="nostalgic" name="nostalgic">
      <label class="form-check-label" for="nostalgic">
        Nostalgic
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="anxious" name="anxious">
      <label class="form-check-label" for="anxious" >
        Anxious
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="romantic" name="romantic">
      <label class="form-check-label" for="romantic" >
        Romantic
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="inspirational" name="inspirational">
      <label class="form-check-label" for="inspirational">
        Inspirational
      </label>
    </div>
    <hr/>

    <h4 id="genre">Genre</h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="action" name="action">
      <label class="form-check-label" for="action">
        Action
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="adventure" name="adventure">
      <label class="form-check-label" for="adventure">
        Adventure
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="fantasy" name="fantasy">
      <label class="form-check-label" for="fantasy">
        Fantasy
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="animation" name="animation">
      <label class="form-check-label" for="animation">
        Animation
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="comedy" name="comedy">
      <label class="form-check-label" for="comedy" >
        Comedy
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="romance" name="romance">
      <label class="form-check-label" for="romance" >
        Romance
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="tragedy" name="tragedy">
      <label class="form-check-label" for="tragedy">
        Trajedy
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="drame" name="drama">
      <label class="form-check-label" for="drame">
        Drama
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="thriller" name ="thriller">
      <label class="form-check-label" for="thriller">
        Thriller
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="horror" name="horror">
      <label class="form-check-label" for="horror">
        Horror
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="documentary" name="documentary">
      <label class="form-check-label" for="documentary">
        Documentary
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="musical" name="musical">
      <label class="form-check-label" for="musical">
        Musical
      </label>
    </div>
    <hr/>

    <h4 id="releaseddate">Released Date</h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="1900-2000" name="90s">
      <label class="form-check-label" for="1900-2000">
        1990-2000
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="00s" name="00s">
      <label class="form-check-label" for="00s">
        2000-2010
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1" id="10s" name="10s">
      <label class="form-check-label" for="10s">
        2010-2020
      </label>
    </div>
    <hr/>

    <h4 id="playtime">Playtime</h4>
    <label>Playtime:</label><br>
    <input type="text" name="min" id="min" class="smallbox form-check-input" placeholder="Min"> - <input type="text" class="smallbox form-check-input" name="max" id="max" placeholder="Max">
    <br>
    <br>
    <input type="submit" value="Filter" class="btn btn-primary">
  </div>
</div>
</form>
<h2>Results:</h2><br>
<!-- {% if allMovies|length < 1 %}
	<p>No Movies Found</p> 
	Your input <b> {{query}}</b> does not match any results. <br>
{% endif %} -->
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-3">
      <div class="col">
        {% for i in allMovies %}
          <div class="card">
            <img src="{{i.poster}}" class="card-img-top" alt="Image has failed to load." onerror="this.src='https://source.unsplash.com/400x600/?movie,{{i.title}}';" height="350px">
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Genre: {{i.genre}}<br>Score: {{i.imdbscore}}<br>Release Date: {{i.date}}</p>
              <a href="http://www.imdb.com/title/{{i.imdbid}}" class="btn btn-outline-primary" target="_blank">IMDb</a>
              <a href="#" class="btn btn-outline-primary">Plan-to-watch</a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  
  </div>
  </div>
</div>

</div>
</div>


{% endblock body %}
{% comment %}<nav class="navbar navbar-expand-lg bg-body-dark">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mood
          </a>
            <ul class="dropdown-menu">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Happy
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sad
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Bored
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Angry
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Excited
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Nostalgic
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Anxious
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Romantic
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Inspirational
                </label>
              </div>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
          </a>
          <ul class="dropdown-menu">
            <div class="container text-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Action
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Adventure
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Fantasy
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Animation
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Comedy
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Romance
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Trajedy
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Drama
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Thriller
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Horror
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Documentary
                </label>
              </div>
              <li><hr class="dropdown-divider"></li>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Musical
                </label>
              </div>
            </div>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Released Date
          </a>
          <ul class="dropdown-menu">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                1990-2000
              </label>
            </div>
            <li><hr class="dropdown-divider"></li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                2000-2010
              </label>
            </div>
            <li><hr class="dropdown-divider"></li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                2010-2020
              </label>
            </div>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Playtime
          </a>
            <ul class="dropdown-menu">
              <label for="customRange2" class="form-label"></label>
              <input type="range" class="form-range" min="0" max="5" id="customRange2">
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By
          </a>
          <ul class="dropdown-menu">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Title
              </label>
            </div>
            <li><hr class="dropdown-divider"></li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Imdb score
              </label>
            </div>
            <li><hr class="dropdown-divider"></li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Released date
              </label>
            </div>
          </ul>
        </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
  </nav>

{% endcomment %}