{% extends 'home/basic.html' %}
{% block title %}Movie4AllMoods{% endblock title %}
{% block css %}
{% load static %}

<link rel="stylesheet" href="/static/home/css/list.css">

{% endblock css %}
{% block body %}
{% comment %}
{% load static %}


  <main class="table">
   
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Already Watched</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
       
       <h1> Already Watched</h1>
      <form class="form-inline">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 
      
  
    
  </main>
  {% endcomment %}

<div>
  <table class="table table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">S.N.</th>
          <th scope="col">Image</th>
          <th style="width:25%" scope="col">Title</th>
          <th style="width:25%">Add to Already Watched</th>
          <th style="width:25%">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for i in titem %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><img src="{{i.movie.poster}}" onerror="this.src='https://source.unsplash.com/400x600/?{{i.movie.title}}';" width="75" height="100"></td>
          <td>{{i.movie.title}}</td>
          <td>
            <button class="btn btn-primary">
              <i class="bi bi-plus" ></i>
            </button>
          </td>
          <td>
            <button class="btn btn-primary">
              <i class="bi bi-trash" >
          </i>
        </button>
      </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock body %}