{% extends 'home/basic.html' %}
{% block title %}Movie Description{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/moviedes.css' %}">
{% endblock css %}

{% block body %}
{% load static %}

    <div class="container movie-details">
        <div class="row">
            <div class="col-md-6 left-box">
                <h1>Movie Name</h1>
                <p>Movie description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p> Genre: </p>
                <p> Cast: </p>
                <p> Director: </p>
                <p> Imdb Score: </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/parrot.png" class="movie-img">
            </div>
        </div>
    </div>

    <div class="container similar">
        <h3>Similar Movies</h3>
        <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                
                <div class="card-wrapper">
                    <div class="card">
<div class="image-wrapper">
  <img src="/img-3.png" alt="...">
</div>
  <div class="card-body">
    <h5 class="card-title">Movie Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card">
<div class="image-wrapper">
<img src="/img-1.png" alt="...">
</div>
  <div class="card-body">
    <h5 class="card-title">Movie Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


  <div class="card">
<div class="image-wrapper">
    <img src="/img-4.png" alt="...">
</div>
    <div class="card-body">
      <h5 class="card-title">Movie Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
<div class="image-wrapper">
    <img src="/img-5.png" alt="...">
</div>
    <div class="card-body">
      <h5 class="card-title">Movie Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
<div class="image-wrapper">
    <img src="/img-6.png" alt="...">
</div>
    <div class="card-body">
      <h5 class="card-title">Movie Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
               
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    {% endblock body %}