{% extends 'home/basic.html' %}
{% block title %}Recommended Movies{% endblock title %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{%static 'home/css/recommend.css' %}">
{% endblock css %}

{% block body %}
<div class="container">
	{% for i in ritem %}
	<span id="success{{i.pk}}" class="padding-bottom--15" style="color:rgb(103, 103, 103);">

	</span>
	{% endfor %}
<br>
<br>

<h2 style="color: white">Recommended Movies</h2><p style="color:rgb(77, 75, 75);">({{total}} entries.)</p><br>
<div class="card-grid">
		{% for i in ritem %}
			<div class="card">
				<a style="text-decoration:none" href="/home/moviedes">
				<img src="{{i.poster}}" class="card-img-top" alt="Image has failed to load." onerror="this.src='https://source.unsplash.com/400x600/?movie,{{i.title}}';" height="350px">
				<div class="card-body">
					<h5 class="card-title">{{i.title}}</h5>
					<p class="card-text">Genre: {{i.genre}}<br>Score: {{i.imdbscore}}<br>Release Date: {{i.date}}</p>
				</a>
					<form id="alwat{{i.pk}}" action="/home/alwat/" method="POST">
						{% csrf_token %}
						<input type="hidden" id="amovieId{{i.pk}}" name="amovieId" value="{{i.pk}}" />
						<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModalrecom{{i.pk}}">
							Already Watched
						</button>
						<div class="modal fade" id="exampleModalrecom{{i.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div id ="modeel{{forloop.counter}}" class="modal-dialog modal-dialog-centered">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel">Please rate the movie:</h5>
								  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<label for="customRange2" class="form-label">Rating 1-10</label>
									<input type="range" value="1" class="form-range" min="1" max="10" id="rating{{i.pk}}" name="rating" oninput="this.nextElementSibling.value = this.value">
									<output>1</output>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								  <input type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal" value="Submit">
								</div>
							  </div>
							</div>
						  </div>
					</form>
				<form id="p2w{{i.pk}}" method="POST" action="/home/p2w/">
						{% csrf_token %}
					<input type="hidden" name="movieId" id="movieId{{i.pk}}" value="{{i.pk}}" />
					<input type="submit" class="btn btn-outline-primary" value="Plan-to-Watch">
				</form>
				
			</div>
			</div>
			
		{% endfor %} 
		{% for i in ritem %}
		<script>
			$(document).on('submit','#p2w{{i.pk}}',function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:"{% url 'Plan-to-watch' %}",
					data:{
						movieId:$('#movieId{{i.pk}}').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function(data){
						$('#success{{i.pk}}').html(data)
					}
				})
			})
		</script>
		<script>
			$(document).on('submit','#alwat{{i.pk}}',function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:"{% url 'Already Watched button' %}",
					data:{
						amovieId:$('#amovieId{{i.pk}}').val(),
						rating:$('#rating{{i.pk}}').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function(data){
						$('#success{{i.pk}}').html(data)
					}
				})
			})
		</script>
		{% endfor %}
	</div>
</div>

{% endblock body %}


