{% extends 'home/basic.html' %}
{% block title %}Search Results{% endblock title %}

{% load static %}
<link rel="stylesheet" href="{%static 'home/css/search.css' %}">
{% block css %}{% endblock css %}

{% block body %}
<br>
<br>
<h2>Search Results:</h2><br>
{% if allMovies|length < 1 %}
	<p>No Movies Found</p> 
	Your input <b> {{query}}</b> does not match any results. <br>
{% endif %}
<div class="col ">
	<div class="card-container">
		<div class="cards-wrapper">
			{% for i in allMovies %}
				<div class="card col-2">
					<img src="{{i.poster}}" class="card-img-top" alt="Image has failed to load." onerror="this.src='https://picsum.photos/seed/{{i.title}}/400/600';" height="350px">
					<div class="card-body">
						<h5 class="card-title">{{i.title}}</h5>
						<p class="card-text">Genre: {{i.genre}}<br>Score: {{i.imdbscore}}<br>Release Date: {{i.date}}</p>
						<a href="http://www.imdb.com/title/{{i.imdbid}}" class="btn btn-outline-primary" target="_blank">IMDb</a>
						<a href="#" class="btn btn-outline-primary">Plan-to-watch</a>
					</div>
				</div>
			{% endfor %}

  </div>
  
{% endblock body %}