{% extends 'home/basic.html' %}

{% block title %}
Movie4AllMoods
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{%static 'home/css/signup.css'%}">
{% endblock css %}

{% block body %}
<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="" alt="">
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <form method="POST">
                        {% csrf_token %}
                    <header>Create Your Account</header>
                    <div class="input-field">
                        <input type="text" class="input" id="firstname" name= "fname" required>
                        <label for="firstname">First Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="lastname" name= "lname" required>
                        <label for="lastname">Last Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="email" name= "email" required autocomplete="off">
                        <label for="email">Email-Address</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input" id="username" name= "username" required autocomplete="off">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" name= "password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="confirmpassword" name= "confirmpassword" required>
                        <label for="repassword">Confirm Password</label>
                    </div>
                    
                    
                    <div class="input-field">
                        <input type="submit" class="submit" value="SIGNUP">
                        
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                          I agree to all the Terms and Conditions.
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </form>
                    <div class="signup">
                        <span>Already have an account? <a href="/home/login">LogIn</a></span>
                    </div>
                    </div>
                   

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock body %}





