body
{
    background-repeat: no-repeat ;
    background-color: black;
    color: white;
}

.btn
{
    color: white;
}

.container
{
    align-items: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
  
.d-flex
{
    gap: 20px;
}

.card {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  

  