body{
    margin-top: 5%;
}
.scrollspy-example{
    background: white;
    min-width: 150px;
    max-width: 150px;
}

#side_nav
{
    background: white;
    min-width: 250px;
    max-width: 250px;
}
.cards-wrapper
{
  display: flex;
  flex-wrap: wrap;
}


.card{
    flex-direction: 20%;
}

