body{
    margin: 0;
    margin-top: 5%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    background: url('background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.info{
    margin-top: 15%;
    transform: translateY(-15%);
}
.info h1{
    margin-top: 20px;
    font-size: 70px;
    font-weight: 700;
    color: #4a9fb5;
    filter: brightness(250%);
}
.info p{
    font-size: 18px;
    font-weight: 500;
    color: #4a9fb5;
    filter: brightness(250%);
}
.info a{
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    background: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}
.info a:hover{
    background: gray;
}