
body{
    background-color: black;
    margin-top: 5%;
  
    color: white;
}
/* #hmm{
    margin-top: 10%;
    color: white !important;
} */

.form-inline{
    display: inline-block;
    margin: 0;
}

.modal-body{
    color: black;   
}

