body{
    background-color: black !important;
}

.wrapper{
    width: 1200px;
    padding: 0 100px 0 120px;
}

.movie-details{
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

.left-box{
    display: flex;
    flex-direction: column;
}

.movie-details{
    max-width: 1300px;
    margin: 10% auto 3%;
    padding: 30px;
    color: white;
    background-image: linear-gradient(to right, #271212, #5d565a);
}
.left-box{
    color: rgb(237, 241, 245);
    margin: 20px 0;
    padding: 20px;
}
.movie-img{
    margin-top: 5%;
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
}
.similar h3{
    color: rgb(255, 255, 255);
}
.card-wrapper{
    display: flex;
}
.card{
    background-color: black;
    color: white;
    margin: 1em auto;
    width: calc(100%/3);
}
.image-wrapper{
    height: 22vh;
    margin: 0 auto;
}
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
