
body
{
    background-image: url("/static/home/img/background.jpg");
    /* background-repeat: no-repeat; */
    background-color: #000000;
    font-family: sans-serif;
}
.navbar
{
    background-image: linear-gradient(to right, #000000, #404b51);

}

.nav-link
{
    color: white;
}

.navbar-brand
{
    color: white;
}

